* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}


html {
  scroll-behavior: smooth;
}


/* Header section */
#header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0;
  display: flex;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

#header .header-top {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 76px;
  padding-bottom: 40px;
  gap: 40px;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  position: fixed;
  z-index: 4;
}

.header-top .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.ring {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 0px solid black;
  position: absolute;
}
.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 103, 31);
  animation: animate 2s linear infinite;
}
@keyframes animate {
  from {
    transform: rotateX(30deg) rotateY(-45deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(30deg) rotateY(-45deg) rotateZ(360deg);
  }
}
.ring:nth-child(2) {
  border-right: 8px solid rgb(255, 255, 255);
  animation: animes 2s linear infinite;
}
@keyframes animes {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
.ring:nth-child(3) {
  border-left: 8px solid rgb(4, 106, 56);
  animation: animess 2s linear infinite;
}
@keyframes animess {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotate(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotatez(360deg);
  }
}

.logo img {
  width: 100px;
  filter: invert(1);
}

.nav-menu ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.nav-menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #faca22;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav-menu ul li a:hover::after {
  width: 100%;
}

.nav-menu .fa-solid {
  display: none;
}

.header-bottom {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  padding-top: 50vh;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-bottom span {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  font-weight: bold;
  position: relative;
  top: 0%;
  left: 51%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.header-bottom span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  color: rgb(101, 8, 151);
}

.header-bottom a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}


.main {
  height: 700px;
  background-color: black;
  color: white;
}
.bgcolor-black{
   background-color: black;
   z-index: -5;
}

/* #cursor{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: red;
    position: fixed;
    z-index: 99;
} */

.scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar {
    display: none;
}

#scr {
    display: inline-block;
    white-space: nowrap;
    animation-name: scrollani;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 800;
    font-family: gilroy;
    margin-right: 30px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 2px orangered;
}

.scroller h4:hover {
    color: bisque;
    cursor: pointer;
}

@keyframes scrollani {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.NextInfo {
    padding-top: 50px;

    height: 200px;
    text-align: center;
    z-index: 2;
    background-color: #fff;
    color: #000;
}

.NextInfo h1 {
    font-size: 46px;
    margin-top: 49px;
    margin-bottom: 30px;
    font-weight: 900;


}

.NextInfo p {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 90px;
    padding-left: 10px;
}

.slides {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://cdn.tovp.org/wp-content/uploads/2013/04/tovp-view-from-the-main-road1.jpg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.5s ease;
    padding-right: 20px;
}

/* .slideinfo p{
    bottom: 51px;
    color: #ff0000;
    transform: rotate(-90deg);
    right: 6px;
    font-weight: 700;
    font-size: 12px;
} */

.slide1:hover {
    width: 250px;
}

.slide1:hover .slideinfo {
    transform: rotate(0deg);
    left: 20px;
    bottom: 20px;
    font-size: 22px;
    cursor: pointer;
}

.slide1:hover {
    cursor: pointer;
}

.slidesection {
    padding-bottom: 100px;
    height: 66vh;
    background-color:white;
    z-index: 10;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.slide2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://gumlet.assettype.com/Prabhatkhabar/2023-06/0821daf1-83b3-443e-965f-eb12d6ede707/Jagannath_Temple_Puri.jpg');

}

.slide3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/27/73/9b.jpg');

}

.slide4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://static.langimg.com/photo/90983418/90983418.jpg?imgsize=120124');
}

.slide5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/1200x/8f/37/41/8f374101cb4c0710960ae0085a395a83.jpg');
}

.slide6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2020/02/Badrinath-feature.jpg');
}

.slide7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://cdn.britannica.com/12/94612-050-B4EEB84A/temple-Buddhist-Mahabodhi-Bihar-India-Bodh-Gaya.jpg');
}

.cardcont {
    background-color: rgba(0, 0, 0, 0.8);
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.card {
    height: 80%;
    width: 20%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: all ease 0.5s;
}

#card1 {
    background-image: url('https://www.holidify.com/blog/wp-content/uploads/2014/06/Sanchi-Stupa1.jpg');
}

#card2 {
    background-image: url('https://uploads-ssl.webflow.com/5fe0022130b6119c3b25d03f/6000a4262c3c62f6aadb85d3_shutterstock_1044844045.jpg');
}

#card3 {
    background-image: url('https://www.tusktravel.com/blog/wp-content/uploads/2022/10/Madhubani-Painting-1.jpeg');
}

#card4 {
    background-image: url('https://cultureandheritage.org/wp-content/uploads/2022/09/1.jpg');
}

.abovecard {
    padding: 30px;
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    padding-top: 130px;
    opacity: 0;
    transition: all ease 0.5s;
}

.abovecard h4 {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 10px;
}

.card:hover .abovecard {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(1, 1, 0, 20deg);
    cursor: pointer;
}

.quotes{
    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quotes p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}

.quotes img{
    position: absolute;
    height: 60px;

}

.quotes #colon1{
    left: 15%;
    top: 25%;
}

.quotes #colon2{
    bottom: 30%;
    right: 15%;
}

.mapcont{
    background-color: aliceblue;
    height: 650px;
    width: 100%;
}

.mapcont-head{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mapcont-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.maptxt{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.maptxt h4{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.maptxt p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

iframe{
    width: 100vh;
    height: 400px;
    border-radius: 20px;
    border: 3px solid black;
}
/* bottom */
.footer{
  padding: 70px 0;
  background-color:black
}
.container_for_bottom{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}

.footer_for_column{
  width: 25%;
  padding: 0 15px;

}

.footer_for_column h4{
  font-size: 18px;
  color: #e4dddd;
  text-transform:capitalize ;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer_for_column h4::before{
  content:'';
  position: absolute;
  bottom: -10px;
  background-color: #e91e69;
  height:  2px;
  box-sizing: border-box;
  width: 50px;
}

.footer_for_column ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer_for_column ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(245, 236, 225);
  text-decoration:none;
  font-weight: 500;
  color: rgb(223, 214, 211);
  display:block;
  transition: all 0.3s ease;
}

.footer_for_column ul li a:hover{
  color: rgb(95, 87, 87);
  padding-left: 8px;
}
.footer_for_column .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer_for_column .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}
@media(max-width:767px){
  footer_for_column {
    width:50%;
    margin-bottom:  30px;
  }
}

@media(max-width:574px){
  footer_for_column {
    width:100%;
  }
}
